<div class="media">
  <a class="pull-left">
    <img src=<%= tweet.user.avatar.thumb.url %> alt=<%= tweet.user.name %>>
  </a>
  <div class="media-body">
  	<p>
	    <strong><%= tweet.user.username %></strong>
	    <%= "#{ tweet.content }" %><br>
	    <i><small><%= tweet.created_at.to_s(:tweet) %></small></i>
	  </p>
	</div>	
</div>