<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h2>What are you doing? :)</h2>
			<div class="input-group">
				<%= render 'form_tweet' %>
			</div>
	    <%= render 'tweets/listing' %>
		</div>
		<div class="col-lg-3">
			<div class="media info">
			  <a class="pull-left">
			    <img src=<%= current_user.avatar.thumb.url %> alt=<%= current_user.name %>>
			  </a>
			  <div class="media-body">
			  	<h3 class="media-heading"><%= current_user.username %></h3>
			  	<%= "#{current_user.tweets.count} tweets" %>
				</div>	<br>
				<h4><%= "#{current_user.following.count} following" %></h4>
				<h4><%= "#{current_user.followers.count} followers" %></h4>
			</div>
		</div>
	</div> 
</div>