<div class="media info" id="user-info">
  <a class="pull-left">
    <img src=<%= current_user.avatar.thumb.url %> alt=<%= current_user.name %> id="img-profile-info">
  </a>
  <div class="media-body">
  	<%= link_to "#{current_user.name}", user_path(current_user.id), id: 'user-name' %>
  	<small><%= "#{current_user.tweets.count} tweets" %></small>
	</div>
</div>
<div class='row' id='follow-info'>
	<div class='col-sm-4'>
		<%= link_to following_user_follow_index_path(current_user.id) do %>
			<strong><%= current_user.following.count %></strong>
			<small>following</small>
	  <% end %>
  </div>
	<div class='col-sm-4'>
		<%= link_to followers_user_follow_index_path(current_user.id) do %>
			<strong><%= current_user.followers.count %></strong>
			<small>followers</small>
		<% end %>
	</div>
	<div class='col-sm-4'></div>
</div>
<div id='ads'>
	<a href='https://play.google.com/store/apps/details?id=com.twitter.android&hl=pt_BR'>Twitter-for-Android</a>
	<em>n.</em> the official Twitter app for Android phones.
</div>
<div class="list-group menu">
  <a href="#" class="list-group-item active">
    Home
  </a>
  <a href="#" class="list-group-item">@<%= current_user.name %></a>
  <a href="#" class="list-group-item">Direct Messages</a>
  <a href="#" class="list-group-item">Favorites</a>
</div>
