<div class="media">
	<a class="pull-left">
		<img src=<%= user.avatar.thumb.url %> alt=<%= user.username %>>
	</a>
	<div class="media-body">
    <strong><%= link_to user.username, user_path(user) %></strong>
    <small><%= user.name %></small>
    <div class='row'>
			<div class='col-sm-10'>
				<p><%= user.bio %></p>
			</div>
			<div class='col-sm-2'>
				<%= render 'follow/follow_btn', user: user %>
			</div>
		</div>
	</div>
</div>