<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twitter</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Timeline', timeline_index_path, :class => 'navbar-link' %></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <%= form_tag(search_index_path, :method => :get, class: 'navbar-form navbar-left', role: 'search') do %>
        <div class="input-group">
          <%= text_field_tag :query, nil, 
          {:class => "form-control", :placeholder => "Search a user"} %>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      <% end %>

      <p class="navbar-text navbar-inverse navbar-right">
          <% if user_signed_in? %>
            Hello, <strong><%= current_user.name %></strong>!
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>

</body>
</html>
